vti_encoding:SR|utf8-nl
vti_timelastmodified:TW|12 Dec 2011 01:34:54 -0000
vti_extenderversion:SR|12.0.0.0
vti_author:SR|Jeremy-PC\\Jeremy
vti_modifiedby:SR|Jeremy-PC\\Jeremy
vti_timecreated:TR|11 Jul 2011 07:26:54 -0000
vti_backlinkinfo:VX|wildgoose/index.html wildgoose/public_html/deliverable.html wildgoose/public_html/contact.html
vti_syncwith_cegt201.bradley.edu\:22:TX|11 Jul 2011 07:26:54 -0000
vti_syncofs_cegt201.bradley.edu\:22:TW|26 Oct 2011 04:11:00 -0000
vti_nexttolasttimemodified:TW|12 Dec 2011 01:34:54 -0000
vti_cacheddtm:TX|12 Dec 2011 01:34:54 -0000
vti_filesize:IR|5556
vti_cachedlinkinfo:VX|S|images/img01.jpg S|images/img03.jpg S|images/img08.jpg S|images/img02.jpg S|images/img06.jpg S|images/img04.jpg S|images/img05.jpg S|images/img10.gif S|images/img10.gif S|images/img09.jpg S|images/img07.jpg
vti_cachedsvcrellinks:VX|FSUS|wildgoose/public_html/images/img01.jpg FSUS|wildgoose/public_html/images/img03.jpg FSUS|wildgoose/public_html/images/img08.jpg FSUS|wildgoose/public_html/images/img02.jpg FSUS|wildgoose/public_html/images/img06.jpg FSUS|wildgoose/public_html/images/img04.jpg FSUS|wildgoose/public_html/images/img05.jpg FSUS|wildgoose/public_html/images/img10.gif FSUS|wildgoose/public_html/images/img10.gif FSUS|wildgoose/public_html/images/img09.jpg FSUS|wildgoose/public_html/images/img07.jpg
